body{
    margin:0;
    padding:0;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
.top{
    padding: 5px 0px;
    display:flex;
    background:#3e4b6d;
    justify-content: space-around;
    align-items: center;

}
.right{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.left{
    display:flex;
    justify-content: space-around;
    align-items: center;

}
.right img{
    border-radius: 24px;
    width:50px;
    height:50px;
}
.bottom{
    padding: 20px;
    font-size:0.9rem;
    height:100px;
    margin:0 auto;
    color:#ffffff;
    background-color:#3e4b6d;
}
.contact label{
    margin-left:10px;
}

.contact{
    display: flex;
    justify-content: space-around;
}
.person{
    padding-top: 15px;
}
.person p{
    margin-top: 0px;
}